In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
data=pd.read_csv("trainboston.csv",delimiter=",")
print(data)

       # CRIM        ZN     INDUS      CHAS       NOX        RM       AGE  \
0   -0.407850 -0.487722 -1.266023 -0.272599 -0.576134  1.239974  0.840122
1   -0.407374 -0.487722  0.247057 -0.272599 -1.016689  0.001946 -0.838337
2    0.125179 -0.487722  1.015999 -0.272599  1.367490 -0.439699  0.687212
3    0.028304 -0.487722  1.015999 -0.272599  1.859875 -0.047918  0.801005
4   -0.412408 -0.487722 -0.969827 -0.272599 -0.913029 -0.384137 -0.834781
..        ...       ...       ...       ...       ...       ...       ...
374 -0.204929 -0.487722  1.231945  3.668398  0.434551  2.161728  1.053485
375  0.231398 -0.487722  1.015999 -0.272599  1.367490  0.215644  0.687212
376 -0.408311 -0.487722  0.247057 -0.272599 -1.016689 -0.206055 -0.809889
377 -0.410620 -0.487722 -1.152214 -0.272599 -0.818007  0.068904 -1.826921
378  0.342909 -0.487722  1.015999  3.668398  0.659147  1.041946  1.028593

          DIS       RAD       TAX   PTRATIO         B     LSTAT     Y
0   -0.520264 -0.752922 -1.278354 -0.303094  0.410571 -1.097990  37.9
1    0.336351 -0.523001 -0.060801  0.113032  0.291169 -0.520474  21.4
2   -0.577309  1.661245  1.530926  0.806576 -3.795795  0.891076  12.7
3   -0.712836  1.661245  1.530926  0.806576 -0.066050  0.215438  19.9
4    0.300508 -0.752922 -0.957633  0.020560  0.431074  0.029007  22.5
..        ...       ...       ...       ...       ...       ...   ...
374 -0.833960 -0.523001 -0.031105 -1.736418  0.361122 -1.504494  50.0
375 -0.703186  1.661245  1.530926  0.806576 -2.812183  0.499991  14.3
376  0.140451 -0.523001 -0.060801  0.113032  0.332066 -0.334043  20.8
377  0.674814 -0.637962  0.129256 -0.719220  0.203235 -0.744752  22.6
378 -1.232462  1.661245  1.530926  0.806576  0.387875 -1.358713  50.0

[379 rows x 14 columns]

In [3]:
print(data.describe())
data.shape

           # CRIM          ZN       INDUS        CHAS         NOX          RM  \
count  379.000000  379.000000  379.000000  379.000000  379.000000  379.000000
mean     0.019628    0.002455    0.036170    0.028955    0.028775    0.032202
std      1.067490    1.000813    1.017497    1.048995    0.999656    1.001174
min     -0.417713   -0.487722   -1.516987   -0.272599   -1.465882   -3.880249
25%     -0.408171   -0.487722   -0.867691   -0.272599   -0.878475   -0.571480
50%     -0.383729   -0.487722   -0.180458   -0.272599   -0.144217   -0.103479
75%      0.055208    0.156071    1.015999   -0.272599    0.628913    0.529069
max      9.941735    3.804234    2.422565    3.668398    2.732346    3.555044

              AGE         DIS         RAD         TAX     PTRATIO           B  \
count  379.000000  379.000000  379.000000  379.000000  379.000000  379.000000
mean     0.038395   -0.001288    0.043307    0.043786    0.019218   -0.015785
std      0.985209    1.027803    1.016265    1.019974    1.000296    1.015797
min     -2.335437   -1.267069   -0.982843   -1.313990   -2.707379   -3.883072
25%     -0.768994   -0.829872   -0.637962   -0.755697   -0.488039    0.197588
50%      0.338718   -0.329213   -0.523001   -0.440915    0.297977    0.374827
75%      0.911243    0.674172    1.661245    1.530926    0.806576    0.429868
max      1.117494    3.960518    1.661245    1.798194    1.638828    0.441052

            LSTAT           Y
count  379.000000  379.000000
mean     0.018418   22.609499
std      1.015377    9.389647
min     -1.531127    5.000000
25%     -0.828856   16.700000
50%     -0.161629   21.100000
75%      0.647173   25.750000
max      3.409999   50.000000

(379, 14)

In [4]:
data.isnull().sum()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   # CRIM    379 non-null    float64
 1    ZN       379 non-null    float64
 2    INDUS    379 non-null    float64
 3    CHAS     379 non-null    float64
 4    NOX      379 non-null    float64
 5    RM       379 non-null    float64
 6    AGE      379 non-null    float64
 7    DIS      379 non-null    float64
 8    RAD      379 non-null    float64
 9    TAX      379 non-null    float64
 10   PTRATIO  379 non-null    float64
 11   B        379 non-null    float64
 12   LSTAT    379 non-null    float64
 13   Y        379 non-null    float64
dtypes: float64(14)
memory usage: 41.6 KB

In [5]:
X_train=data.iloc[:,0:-1]
X_train

,# CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,-0.407850,-0.487722,-1.266023,-0.272599,-0.576134,1.239974,0.840122,-0.520264,-0.752922,-1.278354,-0.303094,0.410571,-1.097990
1,-0.407374,-0.487722,0.247057,-0.272599,-1.016689,0.001946,-0.838337,0.336351,-0.523001,-0.060801,0.113032,0.291169,-0.520474
2,0.125179,-0.487722,1.015999,-0.272599,1.367490,-0.439699,0.687212,-0.577309,1.661245,1.530926,0.806576,-3.795795,0.891076
3,0.028304,-0.487722,1.015999,-0.272599,1.859875,-0.047918,0.801005,-0.712836,1.661245,1.530926,0.806576,-0.066050,0.215438
4,-0.412408,-0.487722,-0.969827,-0.272599,-0.913029,-0.384137,-0.834781,0.300508,-0.752922,-0.957633,0.020560,0.431074,0.029007
...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,-0.204929,-0.487722,1.231945,3.668398,0.434551,2.161728,1.053485,-0.833960,-0.523001,-0.031105,-1.736418,0.361122,-1.504494
375,0.231398,-0.487722,1.015999,-0.272599,1.367490,0.215644,0.687212,-0.703186,1.661245,1.530926,0.806576,-2.812183,0.499991
376,-0.408311,-0.487722,0.247057,-0.272599,-1.016689,-0.206055,-0.809889,0.140451,-0.523001,-0.060801,0.113032,0.332066,-0.334043
377,-0.410620,-0.487722,-1.152214,-0.272599,-0.818007,0.068904,-1.826921,0.674814,-0.637962,0.129256,-0.719220,0.203235,-0.744752
378,0.342909,-0.487722,1.015999,3.668398,0.659147,1.041946,1.028593,-1.232462,1.661245,1.530926,0.806576,0.387875,-1.358713

In [6]:
Y_train=data.iloc[:,-1]
Y_train.head()

0    37.9
1    21.4
2    12.7
3    19.9
4    22.5
Name:  Y, dtype: float64

In [7]:
alg=LinearRegression()
alg

LinearRegression()

In [8]:
alg.fit(X_train,Y_train)

LinearRegression()

In [9]:
X_test=pd.read_csv("test-2.csv",delimiter=",")
X_test

,2.91816626,-0.48772236,1.01599907,-0.27259857,0.36544404,-1.60934343,1.11749449,-1.04849446,1.66124525,1.53092646,0.80657583,-1.59755122,1.04106182
0,-0.403392,-0.487722,0.406098,-0.272599,-1.016689,0.560412,-1.332629,1.029344,-0.637962,-0.708183,-1.135347,0.441052,-0.894738
1,-0.413178,-0.487722,0.115738,-0.272599,0.158124,-0.234548,0.288933,-0.716639,-0.982843,-0.803212,1.176466,0.441052,-0.500850
2,-0.412649,0.413589,-0.802031,-0.272599,-0.999412,-0.408356,-1.677566,1.435452,-0.637962,-0.981390,-0.765457,0.441052,-0.591963
3,-0.405882,-0.487722,-0.375976,-0.272599,-0.299707,-0.127698,-0.504068,-0.483566,-0.523001,-0.143951,1.130230,0.403663,0.048631
4,-0.228814,-0.487722,1.568995,-0.272599,0.598679,-1.803097,1.117494,-1.119800,-0.637962,0.170831,1.268938,0.441052,3.049752
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,-0.408684,-0.487722,0.247057,-0.272599,-1.016689,-0.585014,-1.137046,0.336351,-0.523001,-0.060801,0.113032,0.431842,-0.498046
122,-0.408903,-0.487722,0.406098,-0.272599,-1.016689,-0.392685,-0.934351,0.811768,-0.637962,-0.708183,-1.135347,0.441052,-0.315820
123,-0.410014,2.087452,-1.378373,-0.272599,-1.241285,-0.570767,-1.780692,3.287300,-0.637962,0.016409,-0.071913,0.390945,-0.681674
124,-0.403176,-0.487722,-0.375976,-0.272599,-0.299707,-0.224575,0.591198,-0.795123,-0.523001,-0.143951,1.130230,0.340070,0.201421
125,-0.133563,-0.487722,1.231945,-0.272599,2.732346,-1.442658,0.904131,-0.978615,-0.523001,-0.031105,-1.736418,-2.938931,0.488777

In [10]:
Y_pred=alg.predict(X_test)
Y_pred.reshape(-1,1)

array([[29.03367318],
       [22.37164455],
       [24.47778655],
       [20.60166977],
       [ 2.72533175],
       [30.40000409],
       [24.86120042],
       [18.65724977],
       [23.53985838],
       [24.11396872],
       [17.71143854],
       [17.44000298],
       [21.65356278],
       [42.31137694],
       [23.84974493],
       [24.47573232],
       [27.53872655],
       [20.23606694],
       [31.15155453],
       [23.78237904],
       [25.00979443],
       [33.95768541],
       [36.43515649],
       [32.04098329],
       [16.71322632],
       [23.47176611],
       [32.93828009],
       [25.1807008 ],
       [33.71008685],
       [16.88580202],
       [26.02760837],
       [23.27040025],
       [25.47758968],
       [15.00946631],
       [29.5857494 ],
       [26.24821245],
       [20.37245654],
       [24.43681498],
       [ 9.44706894],
       [ 8.38096654],
       [29.01392345],
       [29.59085403],
       [19.7575697 ],
       [20.3719679 ],
       [ 3.14442625],
       [39.52420118],
       [25.71741222],
       [30.37729628],
       [16.79453264],
       [17.89088652],
       [41.02574533],
       [17.57238787],
       [20.89662584],
       [15.59837696],
       [21.41394912],
       [18.4543645 ],
       [23.1557639 ],
       [13.67245022],
       [17.23573882],
       [15.02710365],
       [29.15131353],
       [25.17166386],
       [25.49749375],
       [17.21186687],
       [17.42936995],
       [34.70372763],
       [17.01340803],
       [27.10724289],
       [22.54695733],
       [29.25336918],
       [27.11018136],
       [17.73402192],
       [ 5.74704758],
       [36.87653877],
       [25.09193905],
       [30.15053651],
       [27.24080949],
       [16.2521844 ],
       [32.63542161],
       [19.2735139 ],
       [22.65416762],
       [22.22935077],
       [ 8.55084956],
       [17.33054362],
       [29.17591713],
       [27.20836198],
       [ 5.88576932],
       [21.91465626],
       [20.1154985 ],
       [22.17673963],
       [20.52700516],
       [20.85181227],
       [13.18132049],
       [19.69404919],
       [25.98666769],
       [40.27067742],
       [19.77706447],
       [33.70256574],
       [27.22074149],
       [28.74517137],
       [22.11543887],
       [25.9135196 ],
       [31.30678414],
       [17.15297459],
       [26.37137846],
       [21.44656977],
       [36.73924503],
       [22.08272916],
       [16.70906176],
       [27.59458133],
       [-0.05974722],
       [13.86188045],
       [16.28772152],
       [35.77134424],
       [20.85214459],
       [20.77286833],
       [25.35136054],
       [21.78782121],
       [18.84720303],
       [13.5148908 ],
       [35.61958302],
       [23.09139597],
       [25.01812898],
       [17.46493171],
       [20.73709865],
       [14.72993727]])

In [42]:
print(alg.coef_)
print(alg.intercept_)

[-0.93808077  0.74103443  0.01169157  0.78087372 -2.1745575   2.35429653
  0.1233381  -2.95232355  2.53296817 -1.7029037  -2.25151962  0.58835429
 -4.26368155]
22.677233263858266

In [12]:
print("Train score:",alg.score(X_train,Y_train))
print("Test score:",alg.score(X_test,Y_pred))

Train score: 0.7331366627280995
Test score: 1.0

In [52]:
Y=data[' Y']
type(Y)

pandas.core.series.Series

In [53]:
points=np.array(data)
type(points)

numpy.ndarray

In [24]:
def step_gradient(points, learning_rate, m):
    m_slope = np.zeros(14)
    M = len(points)
    for i in range(M):
        x = points[i]
        y = Y[i]
        for j in range(14):
            m_slope[j] = m_slope[j]+(-2/M)* (y - (m * x).sum() )*x[j]
            
    for j in range(14):
        m[j] = m[j] - learning_rate*m_slope[j]
    
    return m

In [25]:
def gd(points, learning_rate, num_iterations):
    m=np.zeros(14)
    for i in range(num_iterations):
        m = step_gradient(points, learning_rate, m)
        print(i, " Cost: ", cost(points, m))
    return m

In [26]:
def cost(points, m):
    total_cost = 0
    M = len(points)
    for i in range(M):
        x = points[i]
        y = Y[i]
        total_cost += (1/M)*((y - (m*x).sum() )**2)
    return total_cost

In [50]:
def run():
    learning_rate = 0.0001
    num_iterations = 50
    m = gd(points, learning_rate, num_iterations)
    print(m)
    print(m.shape)
    return m

In [51]:
m=run()

0  Cost:  464.076155029649
1  Cost:  359.47045475034105
2  Cost:  278.44366887893324
3  Cost:  215.68093184592956
4  Cost:  167.06538896347217
5  Cost:  129.4081557152277
6  Cost:  100.23914626394158
7  Cost:  77.64505079479838
8  Cost:  60.14383399054009
9  Cost:  46.587522499126365
10  Cost:  36.0869048411477
11  Cost:  27.953204527402278
12  Cost:  21.652900496743
13  Cost:  16.77273136880781
14  Cost:  12.9925880027645
15  Cost:  10.064516278256605
16  Cost:  7.7964528082705735
17  Cost:  6.0396267452863395
18  Cost:  4.678801315568484
19  Cost:  3.6247149854056735
20  Cost:  2.8082264456271386
21  Cost:  2.175779360875176
22  Cost:  1.6858893986797403
23  Cost:  1.3064231087389575
24  Cost:  1.012490163382413
25  Cost:  0.78481070296945
26  Cost:  0.608450693978141
27  Cost:  0.4718423469421527
28  Cost:  0.3660253395906163
29  Cost:  0.28405907402890823
30  Cost:  0.22056741559443077
31  Cost:  0.17138605101621984
32  Cost:  0.1332893347114913
33  Cost:  0.10377870599207795
34  Cost:  0.08091879863217499
35  Cost:  0.06321049257859435
36  Cost:  0.0494925807652926
37  Cost:  0.03886560097134021
38  Cost:  0.030632836553969058
39  Cost:  0.02425461606243898
40  Cost:  0.019312914064453013
41  Cost:  0.015483931213930106
42  Cost:  0.01251685497880515
43  Cost:  0.010217407861357476
44  Cost:  0.008435103974062514
45  Cost:  0.007053378079587915
46  Cost:  0.005981939619804217
47  Cost:  0.005150850204462084
48  Cost:  0.004505936078698003
49  Cost:  0.004005234655048005
[-0.00515623  0.00477029 -0.005982    0.00391836 -0.00511495  0.01148999
 -0.00376576  0.00340474 -0.00367094 -0.0051457  -0.0067712   0.00442757
 -0.01076539  0.99778354]
(14,)

In [14]:
m=np.zeros((data.shape[1]+1,1))
m.shape
x = data.iloc[:, 0:-1]
x=x.to_numpy()
x=np.append(x,np.zeros((data.shape[0],1)),axis=1)
x.shape

(379, 14)